<h1>Assignment 3</h1>
<p>This is an assignment I turned in back in 2015 for my R Programming class at UC San Diego Extension that 
    I decided to redo.</p>
<p>Calculate the two-sample t-test for each numerical variable in the chol data frame (from the chol.txt file) 
by the sex variable by using the apply function. The result should be a matrix that contains five columns:<p> 
<ol>
    <li> F.mean (mean of the numerical variable for Female)</li>
    <li> M.mean (mean of the numerical variable for Male)</li>
    <li> t (for t-statistics), 
    <li> df (for degrees of freedom)</li> 
    <li> and p (for p-value)</li>
</ol>

<h2>Solution 1 (original, with for loop)</h2>

In [1]:
chol <- read.table("chol.txt", header=TRUE, na.strings="NA")
F.mean <- apply(chol[chol$sex=="F",][,2:length(chol)],2,mean,na.rm=TRUE)
M.mean <- apply(chol[chol$sex == "M",][,2:length(chol)],2,mean,na.rm=TRUE)
x <- c()
for (i in 2:12) x <- rbind(x,as.data.frame(t.test(chol[chol$sex=="M",i],chol[chol$sex=="F", i],na.rm=T)[1:3]))
colnames(x) <- c("t","df","p")
result <- data.frame(F.mean,M.mean,x)
result

     F.mean     M.mean     t           df       p
age   22.885417  22.427083 -0.20489826 187.9970 8.378733e-01
chol 202.200000 194.936842 -0.75035027 188.0000 4.539818e-01
tg    79.452632  81.294737  0.28380022 158.5931 7.769337e-01
ht    59.197187  63.659792  3.42175696 186.0388 7.649414e-04
wt   109.510417 137.591667  4.09786339 183.3389 6.254578e-05
sbp  117.125000 124.770833  0.99609766 113.1632 3.213279e-01
dbp   73.312500  75.822917  1.32775215 189.0118 1.858613e-01
vldl  15.231579  15.621053  0.30479390 164.7068 7.609079e-01
hdl   51.400000  45.957895 -3.37529526 187.9173 8.958234e-04
ldl  132.115789 131.252632 -0.09293561 187.5109 9.260539e-01
bmi    2.977679   3.223266  2.39434622 189.4748 1.762516e-02

<h2>Solution 2 (without for loops)</h2>
<p>Not optimal, to revise later</p>

In [2]:
chol <- read.table("chol.txt", header=TRUE, na.strings="NA")
output <- apply(chol[,2:12],2,function(x) t.test(x~sex, data=chol,na.rm=T)[1:3])
x <- data.frame(matrix(unlist(output), ncol = 3, nrow = 11))
# The next two lines repeat the calculations already done for output
F.mean <- apply(chol[chol$sex=="F",][,2:length(chol)],2,mean,na.rm=TRUE)
M.mean <- apply(chol[chol$sex == "M",][,2:length(chol)],2,mean,na.rm=TRUE)
colnames(x) <- c("t","df","p")
results <- data.frame(F.mean,M.mean,x)
results

     F.mean     M.mean     t           df            p
age   22.885417  22.427083   0.2048983  7.649414e-04  1.647068e+02
chol 202.200000 194.936842 187.9970206 -4.097863e+00  7.609079e-01
tg    79.452632  81.294737   0.8378733  1.833389e+02  3.375295e+00
ht    59.197187  63.659792   0.7503503  6.254578e-05  1.879173e+02
wt   109.510417 137.591667 187.9999816 -9.960977e-01  8.958234e-04
sbp  117.125000 124.770833   0.4539818  1.131632e+02  9.293561e-02
dbp   73.312500  75.822917  -0.2838002  3.213279e-01  1.875109e+02
vldl  15.231579  15.621053 158.5931409 -1.327752e+00  9.260539e-01
hdl   51.400000  45.957895   0.7769337  1.890118e+02 -2.394346e+00
ldl  132.115789 131.252632  -3.4217570  1.858613e-01  1.894748e+02
bmi    2.977679   3.223266 186.0387786 -3.047939e-01  1.762516e-02

<h2>Testing</h2>

In [3]:
str(t.test(bmi~sex, data=chol))

List of 10
 $ statistic  : Named num -2.39
  ..- attr(*, "names")= chr "t"
 $ parameter  : Named num 189
  ..- attr(*, "names")= chr "df"
 $ p.value    : num 0.0176
 $ conf.int   : num [1:2] -0.4479 -0.0433
  ..- attr(*, "conf.level")= num 0.95
 $ estimate   : Named num [1:2] 2.98 3.22
  ..- attr(*, "names")= chr [1:2] "mean in group F" "mean in group M"
 $ null.value : Named num 0
  ..- attr(*, "names")= chr "difference in means"
 $ stderr     : num 0.103
 $ alternative: chr "two.sided"
 $ method     : chr "Welch Two Sample t-test"
 $ data.name  : chr "bmi by sex"
 - attr(*, "class")= chr "htest"

In [4]:
t.test(bmi~sex, data=chol)

	Welch Two Sample t-test

data:  bmi by sex
t = -2.3943, df = 189.47, p-value = 0.01763
alternative hypothesis: true difference in means is not equal to 0
95 percent confidence interval:
 -0.44791241 -0.04326214
sample estimates:
mean in group F mean in group M
       2.977679        3.223266

In [5]:
t.test(bmi~sex, data=chol)$statistic

        t
-2.394346

In [6]:
t.test(bmi~sex, data=chol)$parameter

      df
189.4748

In [7]:
t.test(bmi~sex, data=chol)$p.value

[1] 0.01762516

In [8]:
t.test(bmi~sex, data=chol)$estimate

mean in group F mean in group M
       2.977679        3.223266